faiss-cpu
numpy
pandas
python-dotenv
groq
sentence-transformers
streamlit
PyPDF2
langchain
langchain-community
langchain-groq


# Mac setup 
# python3 -m venv .venv
# source .venv/bin/activate
# pip install -U pip
# pip install -r requirements.txt
# python my_rag.py
